.author {
  margin: auto;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 20px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 20px 0px rgba(34, 60, 80, 0.2);
  width: 400px;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
  height: 60%;
}

#h2 {
  margin-bottom: 20px;
}

.authorinput {
  width: 300px;
  margin: auto;
  left: 50%;
  padding: 50px;
}

.authorinput input {
  margin-top: 5px;
  height: 30px;
  border-radius: 5px;
}
.authorinput input::placeholder {
  font-size: 20px;
}
.authorinput button {
  margin-top: 35px;
  background-color: black;
  border: none;
  height: 30px;
  font-size: 18px;
  color: white;
  border-radius: 5px;
}
.but {
  margin-top: 4px;
  color: black;
}
.sign {
  text-decoration: none;
  color: blue;
}

.error {
  color: #ff0000;
  font-size: 14px;
}

.form input {
  margin-bottom: 5px;
}

.form button {
  width: 180px;
}