.footer {
    background: rgb(47,45,120);
    background-color: #2d2f78;
    position: sticky;
    bottom: 0;
    left: 5%;
    padding: 20px 10% 0 10%;
    box-sizing: border-box;
}

.info {
    display: flex;
    justify-content:space-between
}

.icon {
    width: 20px;
    margin-right: 5px;
}

.aboutWe {
    width: 60%
}

.company {
    text-align: center;
    font-size: 13px;
}

.company p {
    color: white;
    margin: auto;
    margin-bottom: 5px;
}

.text {
    color: rgb(255, 255, 255) 
}

.h4 {
    color: white;
}

.contacts p a {
    text-decoration: none;
    color: white;
}

.contacts {
    width: 25%;
    border-left: 2px solid white;
    padding-left: 30px;
}